* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: hsl(194, 40%, 98%, 1);
  color:hsla(240, 6%, 21%, 1);
  font-size: 1.6rem;
}

#app {
  display: grid;
  place-items: center;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 19.5rem;
}


#cronometro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

#timer {
  font-size: 9.6rem;
  font-weight: bold;
  font-family: "Roboto", monospace;
}

#controls {
  display: flex;
  justify-content: space-around;
  gap: 1.6rem;
}

button {
  background-color: transparent;
  border: 0;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 6rem;
  padding: 0;
  margin: 0;
}


#musicTheme {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

#musicTheme button {
  padding: 6rem;
  background-color: hsla(240, 9%, 89%, 1);
  border-radius: 2.4rem;
}

.running .ph-play-circle,
html:not(.running) .ph-pause-circle {
    display: none;
}

.music-on .activated {  
  color: hsla(0, 0%, 100%, 1);
  background-color: hsla(194, 97%, 31%, 1)!important;
}

